<!DOCTYPE html>
<html lang="en">
<base href="https://127.0.0.1:5000/">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/weather-icons.min.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
</head>

<body>
<div class="split left">
    <div class="centered">
        <!-- Date Display -->
        <p>{{ day_str }}</p>
        <h1>{{ day_int }}</h1>
        <p>{{ month|string + " " + year|string }}</p>

        <!-- Calendar Grid -->
        <div class="day-of-week">
            <div>Su</div>
            <div>Mo</div>
            <div>Tu</div>
            <div>We</div>
            <div>Th</div>
            <div>Fr</div>
            <div>Sa</div>
        </div>
        <div class="date-grid">
            {% for i in range(1, days_in_month + 1) %}
            {% if i == day_int %}
            <div class="current-day">{{ i }}</div>
            {% else %}
            <div>{{ i }}</div>
            {% endif %}
            {% endfor %}
        </div>

        <hr>

        <!-- Weather -->
{#        <div class="location-name">#}
{#            <h3>{{ weather['location_name'] }}</h3>#}
{#        </div>#}
        <div class="current-weather">
            <h3>{{ weather['current_temp']|string + '°F' }}</h3>
            <i class="{{ weather['current_icon'] }}"></i>
            <h3>{{ weather['current_summary'] }}</h3>
        </div>
        <div class="forecast-weather">
            {% for i in range(0, 3) %}
            <div class="{{ i|string }}_forecast">
                <h4>{{ weather[i|string + '_day'] }}</h4>
                <i class="{{ weather[i|string + '_icon'] }}"></i>
                <p id="temp">{{ weather[i|string + '_high']|string + '°F' }}</p>
                <p id="temp">{{ weather[i|string + '_low']|string + '°F' }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="split right">
    <div class="label"><span>Tasks</span></div>
    <ul>
        {% for task in tasks %}
            <li>
                <span>{{ task['title'] }}</span>
                {% if 'due_date' in task %} <span class="at-time">{{ task['due_date'] }}</span> {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="label"><span>Calendar</span></div>
    <ul>
        {% for event in events %}
            <li>
                <span>{{ event['summary'] }}</span>
                {% if 'time' in event %} <span class="at-time"> {{ event['time'] }} </span> {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
</body>

<!-- Set date grid start column !-->
<style>
    .date-grid div:first-child {
        grid-column: {{ first_day_of_month + 1}};
    }
</style>

</html>